.env
/tests/*
ssh
/backend/runai_code

csv

*.csv
*.parquet
*.pt
*.index
*.txt
*.pdf
*.html
*.json
*.yaml
*.yml
*.xml
*.log
*.out
*.gz
*.zip
*.tar
*.tar.gz
*.tgz
*.rar
*.7z
*.exe
*.dll
*.so
*.dylib
*.pkl
*.doc
*.docx
*.db
/puppeteer_scraper_full_epfl/epfl_full_site_data
/puppeteer_scraper_full_epfl/epfl_full_site_data2
/